/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}
* {
  margin: 0px;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 100vh;
  background-color: rgb(232, 246, 252);
}
nav {
  text-align: right;
  width: 100%;
}
ul {
  list-style-type: none;
  background-color: #003046;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}
li {
  display: inline;
  margin: 0.25em;
}
#logo {
  float: left;
  overflow: hidden;
  width: 25vh;
  padding: 0px;
}
li a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 10px;
}
li a:hover {
  color: tan;
}
a {
  color: navy;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
figure {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
  background-image: url("../images/energy.jpeg");
  background-size: cover;
  background-position: center;
  margin: 0;
}
figure > div {
  position: relative;
  max-width: 75ch;
  color: white;
  text-align: center;
}

figure::before {
  content: "";
  inset: 0;
  position: absolute;
  backdrop-filter: blur(1rem);
}
.intro {
  padding-top: 1.5em;
}

.pages {
  display: flex;
  width: 100%;
}
.card {
  background-color: #003046;
  margin: 1em;
  color: white;
  padding: 1em;
  border-radius: 00.25em;
}
.card a {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  position: absolute;
  margin-top: 1em;
  bottom: 0;
  background-color: #003046;
  width: 100%;
  color: white;
  font-size: 0.75em;
}
footer a {
  color: white;
}

/* Mobile Only */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
  }
}

/* Desktop Only */
@media (min-width: 48em) {
  .flex > * {
    width: 100%;
  }
}
